<h1>Categories</h1>

<a href="?edit=true">Edit category descriptions</a>

<% @cats.each do |cat| %>
	<div class="category">
		<div class="name"><a href="/category/<%= cat.name %>"><%= cat.name %></a></div>
		<div class="count"><%= cat.count %></div>
		<% if params[:edit] %>
			<div class="description_edit">
				<form action="/category" method="post">
					<input type="hidden" name="cat[id]" value="<%= cat.id %>" />
					<input type="text" name="cat[description]" size="<%= size_helper(cat.description) %>" value="<%= cat.description %>">
					<input type="submit" value="Save changes">
				</form>
			</div>
		<% else %>
			<div class="description"><%= truncate(cat.description, length: 80) %></div>
		<% end %>
		<div class="repos">
			<% Repo.tagged_with(cat.name, on: :categories).order("watchers DESC").each do |repo| %>
				<span class="repo"><%= repo.name %></span>
			<% end %>
		</div>
	</div>
<% end %>


