<h1>Repofinder</h1>
<p>V 0.0.1 - 24. Januar 2012</p>

<table>
	<tr>
		<th></th>
		<th>Owner / Name</th>
		<th></th>
	</tr>
	
<% @repos.each do |repo| %>
	<tr class="repo">
		
		<td class="stats">
			<span class="watchers">Watchers: <%= repo.watchers %></span>
			<span class="forks">Forks: <%= repo.forks %></span>
		</td>
		
		<a href="<%= repo.html_url %>" target="_blank">
			<td class="ident"><span class="owner"><%= repo.owner %></span> / <span class="name"><%= repo.name %></span></td>
		</a>
		
		<td class="description"><%= repo.description %></td>
		
		<td class="links">
			<a href="<%= repo.html_url %>" class="github_url" target="_blank">Github &raquo;</a>
			<a href="<%= repo.homepage %>" class="homepage_url" target="_blank">Homepage &raquo;</a>
		</td>
		
	</tr>
<% end %>
</table>

<p>Add a new repo</p>
<form accept-charset="UTF-8" action="/repo" method="post">
	<label for="owner">Owner</label> /
	<label for="name">Name</label>
	
	<input type="text" size="20" id="owner" name="repo[owner]" /> /
	<input type="text" size="25" id="name" name="repo[name]" />
	
	<input type="submit" value="Add repo" />
</form>
